## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1 = []

for num in random.sample(range(0,100),k=80):
    sample_list_1.append(num)
    

print(sample_list_1)

[3, 25, 4, 63, 8, 20, 32, 10, 9, 53, 1, 89, 73, 86, 47, 80, 97, 60, 36, 21, 24, 44, 39, 17, 59, 26, 41, 88, 72, 13, 51, 40, 64, 96, 54, 66, 99, 78, 74, 68, 11, 92, 90, 67, 6, 31, 71, 45, 56, 5, 91, 14, 30, 15, 87, 62, 57, 55, 7, 85, 70, 23, 82, 75, 76, 94, 79, 37, 33, 0, 65, 48, 16, 52, 19, 2, 58, 42, 61, 38]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1 = set(sample_list_1)

print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
sample_list_2 = []

for num in random.sample(range(0,100),k=80):
    sample_list_2.append(num)
    

(sample_list_2)

[38,
 52,
 86,
 16,
 70,
 7,
 80,
 57,
 14,
 50,
 49,
 3,
 36,
 18,
 76,
 84,
 64,
 54,
 63,
 61,
 9,
 10,
 28,
 97,
 4,
 6,
 46,
 85,
 43,
 55,
 30,
 94,
 11,
 96,
 67,
 40,
 25,
 42,
 71,
 23,
 73,
 75,
 32,
 44,
 51,
 81,
 41,
 87,
 77,
 58,
 22,
 45,
 35,
 53,
 90,
 65,
 12,
 33,
 48,
 2,
 34,
 15,
 20,
 95,
 31,
 37,
 98,
 91,
 29,
 79,
 26,
 88,
 92,
 83,
 82,
 89,
 0,
 13,
 60,
 27]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
set2 = set(sample_list_2)

#print(set2)
print(len(set2))

80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [8]:
set3 = set()

for i in set1:
    if i not in set2:
        set3.add(i)
(set3)

18

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [9]:
set4 = set()

for i in set2:
    if i not in set1:
        set4.add(i)
(set4)

18

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [11]:
set5 = set1.intersection(set2)

set5

62

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [20]:
 len(set3)- len(set4) == (len(set1)- len(set2)) * len(set5)

True

#### Create an empty set called `set6`.

In [21]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [22]:
set6.update(set3,set5)

set6

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 13,
 14,
 15,
 16,
 17,
 19,
 20,
 21,
 23,
 24,
 25,
 26,
 30,
 31,
 32,
 33,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 44,
 45,
 47,
 48,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 78,
 79,
 80,
 82,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 94,
 96,
 97,
 99}

#### Check if `set1` and `set6` are equal.

In [23]:
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [24]:
set1.issubset(set2)

set1.issubset(set3)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [25]:
set3.union(set4, set5)

set1.union(set2)

set1 == set3

False

#### Using the `pop` method, remove the first element from `set1`.

In [26]:
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [27]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for num in list_to_remove:
    if num in set1:
        set1.remove(num)
print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 13, 14, 15, 16, 17, 20, 23, 24, 25, 26, 30, 32, 33, 36, 37, 38, 40, 42, 44, 45, 47, 48, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 78, 80, 82, 85, 86, 87, 88, 90, 92, 94, 96, 97}