## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [62]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [63]:
sample_list_1 = random.sample(range(100), 80)

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [64]:
set1 = set(sample_list_1)

In [65]:
print(len(set1))

80

The length is still 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [66]:
sample_list_2 = []

for i in range(80):
    x = random.randrange(0, 100)
    sample_list_2.append(x)
print(sample_list_2)

[15, 66, 25, 82, 12, 11, 57, 23, 29, 56, 41, 96, 41, 83, 37, 10, 32, 33, 36, 94, 89, 93, 97, 59, 99, 72, 4, 7, 10, 69, 78, 83, 79, 50, 80, 63, 86, 70, 81, 95, 72, 91, 41, 25, 25, 6, 60, 1, 41, 2, 32, 95, 28, 65, 70, 27, 58, 57, 43, 44, 46, 0, 49, 82, 54, 54, 22, 24, 73, 24, 12, 34, 19, 11, 34, 55, 57, 66, 36, 86]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [67]:
set2 = set(sample_list_2)

In [68]:
print(len(set2))

58

The length of the set is less than 80, because there are repetitions and the set cuts them out

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [69]:
set3 = set1 - set2
print(set3)

{3, 5, 8, 9, 13, 16, 17, 18, 21, 26, 30, 31, 35, 38, 39, 40, 47, 48, 52, 53, 61, 64, 67, 68, 71, 74, 75, 76, 77, 84, 85, 87, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [70]:
set4 = set2 - set1
print(set4)

{32, 65, 6, 7, 70, 73, 79, 81, 54, 93, 95}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [85]:
set5 = set()
for i in set1:
    if i in set2:
        set5.add(i)
print(set5)

{0, 1, 2, 4, 6, 7, 10, 11, 12, 15, 19, 22, 23, 24, 25, 27, 28, 29, 32, 33, 34, 36, 37, 41, 43, 44, 46, 49, 50, 54, 55, 56, 57, 58, 59, 60, 63, 65, 66, 69, 70, 72, 73, 78, 79, 80, 81, 82, 83, 86, 89, 91, 93, 94, 95, 96, 97, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [72]:
set1 - set3 == set5

False

#### Create an empty set called `set6`.

In [73]:
# Your code here

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [74]:
# Your code here

#### Check if `set1` and `set6` are equal.

In [75]:
# Your code here

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [76]:
# Your code here

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [77]:
# Your code here

#### Using the `pop` method, remove the first element from `set1`.

In [78]:
# Your code here

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [79]:
# Your code here